.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.users {
  margin-top: 20px;
}

.user-card {
  background-color: #3a3f47;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  min-width: 250px;
}

.user-card p {
  margin: 5px 0;
  font-size: 16px;
}
